<body class="body-add">
    <div>
        <!-- Menu -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src='logo.png' widht=255 height=55 alt="Sistema de cadastro"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="http://localhost:8080/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Usuario
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item active" href="http://localhost:8080/add-user">Cadastrar Usuário</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/list-user">Listar Usuário</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Próximo</a></li>
                        </ul>
                    </li>
                    
                    <!-- Opções -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            opções
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="http://localhost:8080/add-banco">Cadastrar Banco</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/add-contato">Cadastrar Contato</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item disabled" href="">Próximo</a></li>
                        </ul>
                    </li>
                    <!-- Fim Opções -->
                    
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                </div>
            </div>
        </nav>
        <!-- Fim menu -->
    </div>
    <div class="container">
        <h1 class="text-success text-center mt-3 mb-5">Cadastrar Usuário!</h1>
        
        <!-- imprimir as mensagens que estao na sessao -->
        {{>_msg}}        

        <!-- Formulário cadastro usuario -->
        <form action="add-user" method="POST">
          <!-- Nome -->  
          <div class="mb-3">
            <label for="name" class="form-label text-success">Nome: </label>
            <input type="text" name="name" class="form-control" id="name" aria-describedby="nome">
            <div id="nome" class="text-white form-text" required>Digite seu nome no campo acima</div>
          </div>
          <!-- Fim nome -->

          <!-- Email -->
          <div class="mb-3">
            <label for="email" class="form-label text-success">Endereço de Email: </label>
            <input type="email" name="email" class="form-control" id="email" aria-describedby="email">
            <div id="email" class="text-white form-text" required>Digite seu melhor e-mail no campo acima</div>
          </div>
          <!-- Fim email -->
          
          <!-- Password -->
          <div class="mb-3">
            <label for="password" class="form-label text-success">Senha: </label>
            <input type="password" name="password" class="form-control" id="password" autocomplete="on">
            <div id="password" class="text-white form-text" required>Digite uma senha forte no campo acima</div>

          </div>
          <!-- Fim password -->
          <button class="btn btn-success" type="submit" class="btn btn-success">Cadastrar</button>
          <a class="btn btn-primary" href="list-user">Listar Usuários</a>
        </form>
        <!-- Fim formulário cadastro usuario -->
    </div>
</body>

